@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Noto+Serif:wght@700&display=swap');

body {
    background-image: url("bg.jpg");
}

#overlay {
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #c05523f5;  /* fallback for old browsers */
    z-index: 2;
}

.container {
    top: 50%;
    left: 50%;
    position: absolute;
    @media only screen and (min-width: 768px) {
        transform: translate(-48%, -50%);
    }
    @media only screen and (max-width: 767px) {
        transform: translate(-51%, -48%);
    }
}

.section-heading {
    font-family: 'Noto Serif', serif;
    text-align: center;
    margin: 0 0 2rem 0;
    font-weight: 500;
    color: white;
    font-size: 45px;
    @media only screen and (max-width:767px){
        font-size: 42px;
    }
}

#container {
    .text {
        margin: 24% 0 0 0;
        font-size: 20px;
        color: white;
        text-align: center;
        @media only screen and (max-width:767px){
            margin: 77% 0 0 0;
            padding: 2rem 0 0 0;
            font-size: 18px;
        }
    }
    img {
        max-width: 100%;
        margin-top: -2rem;
        @media only screen and (max-width:767px) {
            max-width: 137%;
            transform: translate(-12%, -14%);
            position: absolute;
        }
    }
}
