@import url("https://fonts.googleapis.com/css2?family=Katibeh&display=swap");

body {
    background-image: url("bg.jpg");
}

#overlay {
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fc4a1a;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f7b633ef, #c05523);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f7b633ef, #c05523); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    z-index: 2;
}

.container {
    top: 50%;
    left: 50%;
    position: absolute;
    @media only screen and (min-width: 768px) {
        transform: translate(-48%, -50%);
    }
    @media only screen and (max-width: 767px) {
        transform: translate(-51%, -48%);
    }
    @media only screen and (max-width: 468px) {
        transform: translate(-51%, -109%);
    }
}

.section-heading {
    font-family: "Katibeh", cursive;
    text-align: center;
    margin: 0 0 2rem 0;
    font-weight: 800;
    color: white;
    font-size: 62px;
}

#container {
    .text {
        margin: 24% 0 0 0;
        font-size: 20px;
        color: white;
        text-align: center;
        @media only screen and (max-width: 767px) {
            margin: 0 0 0 0;
            line-height: 1.2rem;
        }
    }
    img {
        max-width: 100%;
        margin-top: -2rem;
        @media only screen and (max-width: 468px) {
            margin-top: 1rem;
            position: absolute;
        }
    }
}
